# Ignore virtual environment
venv/
env/

# Ignore database file
db.sqlite3

# Ignore cache files
__pycache__/
*.pyc

# Ignore environment variables (if you use .env)
.env

# Ignore system files (Mac & Windows)
.DS_Store
Thumbs.db